h1 {
	font-weight: 900;
	text-transform: capitalize;
	color: rgb(10, 10, 77);
	font-style: initial;
	font-family: 'Courier New', Courier, monospace;
	font-size: 58px;
	line-height: 54px;
	text-shadow: 2px 5px rgb(168, 165, 165);
}

 p {
    color: rgb(92, 20, 70);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    }

img {
    position: fixed;
    top: 200px;
    left: 400px;

      /* this code is from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_shake */
      /* animation will last for 0.6 seconds */
    animation: shake 0.6s; 
  
    /* animation has an infinite loop */
    animation-iteration-count: infinite; 
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-3deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(4deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#name:hover {
    /* this code is from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_shake */
    /* animation will last for 0.6 seconds */
    animation: shake 0.6s; 
  
    /* animation has an infinite loop */
    animation-iteration-count: infinite; 
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-3deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(4deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#name {
    border: 10px dashed rgb(66, 65, 68);
    padding: 10px;  
    display: in-line block;
    width: 300px;
    margin: 20px 20px 50px 2px;
}

ul {
    color: rgb(92, 20, 70);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

ol {
    color: rgb(92, 20, 70);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}




