h1 {
	font-weight: 900;
	text-transform: capitalize;
	color: rgb(10, 10, 77);
	font-style: initial;
	font-family: 'Courier New', Courier, monospace;
	font-size: 58px;
	line-height: 54px;
	text-shadow: 2px 5px rgb(168, 165, 165);
}

 p {
    color: rgb(92, 20, 70);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    }

body {
    background-image: url("cyclopsgreen.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#name {
    border: 10px dashed rgb(66, 65, 68);
    padding: 10px;  
    display: in-line block;
    width: 26%;
    margin: 20px 20px 50px 2px;
}

ul {
    color: rgb(92, 20, 70);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

ol {
    color: rgb(92, 20, 70);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}




